@import 'helpers.scss';

* {
  box-sizing: border-box;
}

html {
  @include font-size(16px,true);
}

html,
body {
  @media (max-width: 767px) {
    height: 100%;
    width: 100%;
  }
}

body {
  background: #000;
  font-family: "canada-type-gibson";
  font-weight: 200;
}

figure {
  margin: 0;
}

video {
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
}

.main-nav {
  margin: 20px;

  ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 767px) {
    margin: 0;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;

    &.right-nav {
      left: auto;
      right: 0;
      text-align: right;
    }
  }

  li:first-child a {
    @include font-size(18px,true);
  }

  li.active a {
    text-decoration: line-through;
  }

  li:first-child.active a {
    text-decoration: none;
  }

  li a {
    position: relative;
    text-transform: uppercase;
    @include font-size(12px);
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    left: 0;
    transition: all 0.2s cubic-bezier(.19,1,.22,1);
    display: inline-block;
  }

  &.left-nav a:hover {
    left: 3px;
  }

  &.right-nav a { left: auto; right: 0; }
  &.right-nav a:hover { right: 3px; }

}

.template--leftcol {
  .barba-container {
    right: auto;
    left: 0;
  }

  .main-nav.left-nav {
    left: 400px;
    right: auto;
  }
}

.template--rightcol {
  .barba-container {
    right: 0;
    left: auto;
  }
  .main-nav.right-nav {
    left: auto;
    right: 400px;
  }
}

.barba-container {
  background: #fff;
  max-width: 400px;
  padding: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;

  @media (max-width: 767px) {
    max-width: none;
  }

  &[data-namespace="home"] {
    left: -100%;
  }

  @media (max-width: 767px) {
    position: static;
    height: auto;
    width: auto;
    padding: 20px;
  }
}

.content h1 {
  @include font-size(16px);
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}
