html:before {
  content: "desktop";
  display: none;
  /* Prevent from displaying. */ }

@media (max-width: 767px) {
  html:before {
    content: "mobile"; } }
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre, hr {
  margin-top: 0;
  margin-bottom: 28px;
  margin-bottom: 1.75rem; }

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }
  .fullscreen-bg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .fullscreen-bg img {
    display: none; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg video {
    width: 300%;
    left: -100%; } }
@media (max-width: 767px) {
  .fullscreen-bg video {
    display: none; }

  .fullscreen-bg img {
    display: block; } }
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26.66667px;
  line-height: 1.66667rem; }

@media (max-width: 767px) {
  html,
  body {
    height: 100%;
    width: 100%; } }

body {
  background: #000;
  font-family: "canada-type-gibson";
  font-weight: 200; }

figure {
  margin: 0; }

video {
  opacity: 0.3; }

img {
  max-width: 100%;
  height: auto; }

.main-nav {
  margin: 20px; }
  .main-nav ul, .main-nav li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-nav ul {
    display: none; }
  .main-nav.active ul, .template--rightcol .main-nav ul, .template--leftcol .main-nav ul {
    display: block; }
  @media (min-width: 767px) {
    .main-nav {
      margin: 0;
      padding: 40px;
      position: absolute;
      top: 0;
      left: 0; }
      .main-nav.right-nav {
        left: auto;
        right: 0;
        text-align: right; } }
  .main-nav > a {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 30px;
    line-height: 1.875rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none; }
  .main-nav li.active a {
    text-decoration: line-through; }
  .main-nav li a {
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    left: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    display: inline-block; }
  .main-nav.left-nav a:hover {
    left: 3px; }
  .main-nav.right-nav a {
    left: auto;
    right: 0; }
  .main-nav.right-nav a:hover {
    right: 3px; }

.template--leftcol .barba-container {
  right: auto;
  left: 0; }
.template--leftcol .main-nav.left-nav {
  left: 400px;
  right: auto; }

.template--rightcol .barba-container {
  right: 0;
  left: auto; }
.template--rightcol .main-nav.right-nav {
  left: auto;
  right: 400px; }

.barba-container {
  background: #fff;
  max-width: 400px;
  padding: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll; }
  @media (max-width: 767px) {
    .barba-container {
      max-width: none; } }
  .barba-container[data-namespace="home"] {
    left: -100%; }
  @media (max-width: 767px) {
    .barba-container {
      position: static;
      height: auto;
      width: auto;
      padding: 20px; } }

.content h1 {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */