@font-face {
  font-family: 'Consolas';
  src: url("../fonts/Consolas.eot");
  src: url("../fonts/Consolas.eot?#iefix") format("embedded-opentype"), url("../fonts/Consolas.woff") format("woff"), url("../fonts/Consolas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Consolas Bold';
  src: url("../fonts/Consolas-Bold.eot");
  src: url("../fonts/Consolas-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Consolas-Bold.woff") format("woff"), url("../fonts/Consolas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Consolas Italic';
  src: url("../fonts/Consolas-Italic.eot");
  src: url("../fonts/Consolas-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Consolas-Italic.woff") format("woff"), url("../fonts/Consolas-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Consolas Bold Italic';
  src: url("../fonts/Consolas-BoldItalic.eot");
  src: url("../fonts/Consolas-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Consolas-BoldItalic.woff") format("woff"), url("../fonts/Consolas-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
html:before {
  content: "desktop";
  display: none;
  /* Prevent from displaying. */ }

@media (max-width: 767px) {
  html:before {
    content: "mobile"; } }
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre, hr {
  margin-top: 0;
  margin-bottom: 28px;
  margin-bottom: 1.75rem; }

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }
  .fullscreen-bg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .fullscreen-bg img {
    display: none; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg video {
    width: 300%;
    left: -100%; } }
@media (max-width: 767px) {
  .fullscreen-bg video {
    display: none; }

  .fullscreen-bg img {
    display: block; } }
* {
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 23.33333px;
  line-height: 1.45833rem; }

@media (max-width: 767px) {
  html,
  body {
    height: 100%;
    width: 100%; } }

body {
  background: #fff;
  font-family: 'Consolas'; }

figure {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.main {
  z-index: 10; }

.main-nav {
  margin: 20px; }
  .main-nav ul, .main-nav li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-nav ul {
    display: none; }
  .main-nav.active ul {
    display: block; }
  @media (min-width: 767px) {
    .main-nav {
      margin: 0;
      padding: 40px;
      position: absolute;
      top: 0;
      left: 100px; }
      .main-nav.right-nav {
        left: auto;
        right: 100px;
        text-align: right; } }
  .main-nav > a {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 30px;
    line-height: 1.875rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none; }
  .main-nav li a {
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    left: 0;
    display: inline-block; }

.close-button {
  position: absolute;
  top: 0;
  background: none;
  border: none;
  font-size: 8px;
  font-size: 0.5rem;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  opacity: 0;
  z-index: -1;
  padding: 0;
  width: 30px;
  height: 30px; }
  .close-button:hover {
    -webkit-transition: all 0.1s;
            transition: all 0.1s;
    opacity: 0.3 !important; }
  .close-button:focus {
    outline: none; }

.template--leftcol .barba-container {
  right: auto;
  left: 0; }
.template--leftcol .close-button {
  left: 370px;
  opacity: 1;
  z-index: 1; }

.template--rightcol .barba-container {
  right: 0;
  left: auto; }
.template--rightcol .close-button {
  right: 370px;
  opacity: 1;
  z-index: 1; }

.fullscreen-bg {
  background: #fff; }
  .template--rightcol .fullscreen-bg {
    cursor: e-resize;
    opacity: 0.3; }
  .template--leftcol .fullscreen-bg {
    cursor: w-resize;
    opacity: 0.3; }

.barba-container {
  background: #fff;
  max-width: 400px;
  padding: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll; }
  @media (max-width: 767px) {
    .barba-container {
      max-width: none; } }
  .barba-container[data-namespace="home"] {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  @media (max-width: 767px) {
    .barba-container {
      position: static;
      height: auto;
      width: auto;
      padding: 20px; } }

.content h1 {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */